<section id="portfolio">
    <div class="container-fluid portfolio">
        <div class="row no-gutter">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <a  class="portfolio-box">
                    <img src="img/portfolio/psa.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                PSA Expense and Time tracker
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <a  class="portfolio-box">
                    <img src="img/portfolio/orundo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Project Management tool
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <a  class="portfolio-box">
                    <img src="img/portfolio/edekodone.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Problem Solving tool
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <a  class="portfolio-box">
                    <img src="img/portfolio/social-story.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Literature and art tool
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
