<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a  class="portfolio-box">
                    <img width="" height="" src="img/portfolio/detonavomek.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                BE Developer
                            </div>
                            <div class="project-name">
                                Anton Adamiv
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a  class="portfolio-box">
                    <img width="" height="" src="img/portfolio/thymajesty.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FE Developer
                            </div>
                            <div class="project-name">
                                Dmitry Priadko
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a  class="portfolio-box">
                    <img width="" height="" src="img/portfolio/pod666.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                BE Developer
                            </div>
                            <div class="project-name">
                                Viktor Danyluk
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a  class="portfolio-box">
                    <img width="" height="" src="img/portfolio/starosta.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                BE Developer
                            </div>
                            <div class="project-name">
                                Andrew Letsyk
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a  class="portfolio-box">
                    <img width="" height="" src="img/portfolio/YevheniiKyselov.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FE Developer
                            </div>
                            <div class="project-name">
                                Yevhenii Kyselov
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a  class="portfolio-box">
                    <img width="" height="" src="img/portfolio/noluck.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FE Developer
                            </div>
                            <div class="project-name">
                                Andrew Datsenko
                            </div>

                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
